<a href="https://colab.research.google.com/github/watkinshannah05/BakerRipleyVoterAnalysis/blob/main/BakerRipley_Cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
 import pandas as pd
import matplotlib.pyplot as plt

In [6]:
register_voters_1 = pd.read_csv('/content/drive/MyDrive/AllRegistered_Harris_1of3.csv')

In [5]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [7]:
register_voters_2 = pd.read_csv('/content/drive/MyDrive/AllRegistered_Harris_2of3.csv')

In [8]:
register_voters_3 = pd.read_csv('/content/drive/MyDrive/AllRegistered_Harris_3of3.csv')

In [9]:
print("Registered Voters Part 1 Shape: " + str(register_voters_1.shape))
print("Registered Voters Part 2 Shape: " + str(register_voters_2.shape))
print("Registered Voters Part 3 Shape: " + str(register_voters_3.shape))

Registered Voters Part 1 Shape: (971374, 6)
Registered Voters Part 2 Shape: (847076, 6)
Registered Voters Part 3 Shape: (719726, 6)

In [10]:
register_voters_1.dropna(inplace=True)
register_voters_1.drop_duplicates(inplace=True)
register_voters_1.shape

(971373, 6)

In [11]:
register_voters_2.dropna(inplace=True)
register_voters_2.drop_duplicates(inplace=True)
register_voters_2.shape

(847072, 6)

In [12]:
register_voters_3.dropna(inplace=True)
register_voters_3.drop_duplicates(inplace=True)
register_voters_3.shape

(719726, 6)

In [13]:
register_voters_1.columns

Index(['Status', 'Voter ID', 'Precinct', 'City', 'Zip', 'Effective Date'], dtype='object')

In [15]:
from google.colab import files

In [20]:
register_voters_1.to_csv('clean_voters_1.csv')

In [21]:
files.download('clean_voters_1.csv')

In [22]:
register_voters_2.to_csv('clean_voters_2.csv')

In [23]:
register_voters_3.to_csv('clean_voters_3.csv')

In [14]:
voters_12 = pd.concat([register_voters_1, register_voters_2])

In [24]:
voters_123 = pd.concat([voters_12, register_voters_3])

In [25]:
voters_123.head()

   Status    Voter ID  Precinct     City    Zip Effective Date
0  Active  1103621098        64  HOUSTON  77011      8/10/2007
1  Active  1103589060        64  HOUSTON  77011       1/1/2002
2  Active  1103644217        64  HOUSTON  77011      9/20/2003
3  Active  2194491142        64  HOUSTON  77011      9/17/2022
4  Active  1217953890        64  HOUSTON  77011      12/3/2020

In [26]:
voters_123.shape

(2538171, 6)

In [28]:
voters_123.drop_duplicates(inplace=True)

In [29]:
voters_123.shape

(2538171, 6)

In [30]:
voters_123.to_csv('registered_voters.csv')

In [51]:
nov_voters_1 = pd.read_csv('/content/drive/Shareddrives/BakerRipley 2023 Datathon/Nov2022_Voters_1of3.csv')

In [52]:
nov_voters_1.columns

Index(['Voter ID', 'VOTE_TYPE', 'CITY', 'ZIP', 'SEX', 'DATE_VOTED',
       'BIRTHYEAR', 'Voting Site', 'Voting Precinct',
       'Congressional House District', 'State Senate District',
       'State Representative District', 'County Commissioner District',
       'State Board of Education District',
       'Just of the Peace/Constable District', 'School District',
       'School District Postion/Seat District', 'Municipality',
       'Municipality District', 'Utility District', 'Management District',
       'Community College District', 'Harris County SCHOOL TRUSTEE District',
       'Community College Position District', 'Metro  District'],
      dtype='object')

In [53]:
nov_voters_1.drop(nov_voters_1.iloc[:, 9:], inplace=True, axis=1)

In [54]:
nov_voters_1.columns

Index(['Voter ID', 'VOTE_TYPE', 'CITY', 'ZIP', 'SEX', 'DATE_VOTED',
       'BIRTHYEAR', 'Voting Site', 'Voting Precinct'],
      dtype='object')

In [55]:
nov_voters_1.shape

(450000, 9)

In [58]:
nov_voters_1.drop_duplicates

<bound method DataFrame.drop_duplicates of           Voter ID VOTE_TYPE     CITY    ZIP  SEX        DATE_VOTED  \
0       1102134232         P  HOUSTON  77007    M    11/3/2022 0:00
1       1102253308         P  HOUSTON  77009    F   10/24/2022 0:00
2       1102030272         E  HOUSTON  77007    F    11/8/2022 0:00
3       1102253312         M  HOUSTON  77009    F    11/2/2022 8:49
4       1102253349         P  HOUSTON  77009    M   10/26/2022 0:00
...            ...       ...      ...    ...  ...               ...
449995  1119810537         P  HUFFMAN  77336  NaN    11/1/2022 0:00
449996  1119803257         M  HUFFMAN  77336    F  10/18/2022 15:34
449997  1104371338         E  HUFFMAN  77336    M    11/8/2022 0:00
449998  1104379152         P  HUFFMAN  77336    F   10/25/2022 0:00
449999  1117189334         P  HUFFMAN  77336    F    11/1/2022 0:00

        BIRTHYEAR Voting Site  Voting Precinct
0            1952     SRD134M                1
1            1947     SRD145M                1
2            1944       92049                1
3            1948         NaN                1
4            1949     SRD145M                1
...           ...         ...              ...
449995       1954     SRD127Y             1152
449996       1930         NaN             1152
449997       1961       32071             1152
449998       1964     SRD128V             1152
449999       1968     SRD141U             1152

[450000 rows x 9 columns]>

In [56]:
nov_voters_1.drop(['DATE_VOTED'], axis=1)

,Voter ID,VOTE_TYPE,CITY,ZIP,SEX,BIRTHYEAR,Voting Site,Voting Precinct
0,1102134232,P,HOUSTON,77007,M,1952,SRD134M,1
1,1102253308,P,HOUSTON,77009,F,1947,SRD145M,1
2,1102030272,E,HOUSTON,77007,F,1944,92049,1
3,1102253312,M,HOUSTON,77009,F,1948,NaN,1
4,1102253349,P,HOUSTON,77009,M,1949,SRD145M,1
...,...,...,...,...,...,...,...,...
449995,1119810537,P,HUFFMAN,77336,NaN,1954,SRD127Y,1152
449996,1119803257,M,HUFFMAN,77336,F,1930,NaN,1152
449997,1104371338,E,HUFFMAN,77336,M,1961,32071,1152
449998,1104379152,P,HUFFMAN,77336,F,1964,SRD128V,1152
449999,1117189334,P,HUFFMAN,77336,F,1968,SRD141U,1152

In [57]:
nov_voters_1.to_csv('nov_voters_1.csv')

In [60]:
nov_voters_3 = pd.read_csv('/content/drive/Shareddrives/BakerRipley 2023 Datathon/Nov2022_Voters_3of3.csv')

/usr/local/lib/python3.8/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (6) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [61]:
nov_voters_3.drop(nov_voters_3.iloc[:, 9:], inplace=True, axis=1)

In [62]:
nov_voters_3.drop(['DATE_VOTED'], axis=1)

,Voter ID,VOTE_TYPE,CITY,ZIP,SEX,BIRTHYEAR,Voting Site,Voting Precinct
0,1.142801e+09,P,HOUSTON,77009,F,1979,SRD140N,1
1,2.121088e+09,P,HOUSTON,77009,M,1996,SRD147E,1
2,1.185940e+09,P,HOUSTON,77007,F,1994,SRD147E,1
3,1.201537e+09,E,HOUSTON,77007,F,1995,92121,1
4,1.160292e+09,P,HOUSTON,77009,F,1985,SRD145M,1
...,...,...,...,...,...,...,...,...
207396,2.194024e+09,P,CYPRESS,77429,F,1952.0,SRD130L,1151
207397,2.193151e+09,P,TOMBALL,77377,F,2004.0,SRD130T,1151
207398,2.140342e+09,E,TOMBALL,77377,F,1998.0,12028,1151
207399,2.194038e+09,P,HUFFMAN,77336,F,2004.0,SRD128V,1152
207400,2.189545e+09,P,HUFFMAN,77336,F,1964.0,SRD128V,1152

In [63]:
nov_voters_3.shape

(207401, 9)

In [64]:
nov_voters_3.drop_duplicates

<bound method DataFrame.drop_duplicates of             Voter ID VOTE_TYPE     CITY    ZIP SEX       DATE_VOTED BIRTHYEAR  \
0       1.142801e+09         P  HOUSTON  77009   F  10/26/2022 0:00      1979
1       2.121088e+09         P  HOUSTON  77009   M   11/4/2022 0:00      1996
2       1.185940e+09         P  HOUSTON  77007   F  10/26/2022 0:00      1994
3       1.201537e+09         E  HOUSTON  77007   F   11/8/2022 0:00      1995
4       1.160292e+09         P  HOUSTON  77009   F   11/4/2022 0:00      1985
...              ...       ...      ...    ...  ..              ...       ...
207396  2.194024e+09         P  CYPRESS  77429   F   11/3/2022 0:00    1952.0
207397  2.193151e+09         P  TOMBALL  77377   F   11/4/2022 0:00    2004.0
207398  2.140342e+09         E  TOMBALL  77377   F   11/8/2022 0:00    1998.0
207399  2.194038e+09         P  HUFFMAN  77336   F  10/28/2022 0:00    2004.0
207400  2.189545e+09         P  HUFFMAN  77336   F   11/2/2022 0:00    1964.0

       Voting Site  Voting Precinct
0          SRD140N                1
1          SRD147E                1
2          SRD147E                1
3            92121                1
4          SRD145M                1
...            ...              ...
207396     SRD130L             1151
207397     SRD130T             1151
207398       12028             1151
207399     SRD128V             1152
207400     SRD128V             1152

[207401 rows x 9 columns]>

In [65]:
nov_voters_3.to_csv('nov_voters_3.csv')