<a href="https://colab.research.google.com/github/watkinshannah05/BakerRipleyVoterAnalysis/blob/main/target_voters.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [12]:
target_audience = pd.read_csv('/content/GOTV_TargetVoters.csv')

In [13]:
target_audience

         Voter ID      City   Zip5  Age Sex   PrecinctName
0      1122198569   Houston  77009   59   F  Harris - 0046
1      1114307920   Houston  77003   63   M  Harris - 0010
2      1186408232  Pasadena  77504   74   F  Harris - 0347
3      1161567574  Pasadena  77504   53   F  Harris - 0752
4      1068564056   Houston  77026   56   M  Harris - 0046
...           ...       ...    ...  ...  ..            ...
22041  2183568938   Houston  77087   19   F  Harris - 0285
22042  2191650739  Pasadena  77504   21   M  Harris - 0752
22043  2167872180   Houston  77003   54   F  Harris - 0010
22044  2184783273  Pasadena  77504   25   F  Harris - 0793
22045  2190466288   Houston  77009   28   F  Harris - 0046

[22046 rows x 6 columns]

In [14]:
target_audience.drop_duplicates(inplace=True)
target_audience.shape

(22046, 6)

In [ ]:
# Size of Target Voter Population is 22,046 people

In [26]:
those_who_voted = pd.read_csv('/content/drive/Shareddrives/BakerRipley 2023 Datathon/all_voters.csv')

target_audience_id = pd.DataFrame(target_audience['Voter ID'])
those_who_voted.shape

(1107401, 10)

In [27]:
those_who_voted_id = pd.DataFrame(those_who_voted['Voter ID'])

target_that_voted = pd.merge(target_audience_id, those_who_voted_id)
target_that_voted.shape
target_that_voted

        Voter ID
0     1186408232
1     2146885203
2     1110411952
3     2155507024
4     1079640102
...          ...
3555  2180637795
3556  2166760346
3557  2193443970
3558  2167872180
3559  2184783273

[3560 rows x 1 columns]

In [ ]:
# Those Who Actually Voted out of Target Population is 3,560 People

In [ ]:
# Calculating Total Costs of Each Method

In [28]:
door_knocking = pd.read_csv('/content/BlockWalking_Effort.csv')
sent_postcard = pd.read_csv('/content/GOTVMailers_Efforts.csv')
attempted_text = pd.read_csv('/content/TextBanking_Efforts.csv')
attempted_call = pd.read_csv('/content/Text&PhoneBanking_Data.csv')

In [29]:
attempted_text.head()

                     timestamp message_direction    Voter ID
0  2022-09-29 16:29:30.961018Z          outgoing  2190569615
1  2022-09-29 16:29:35.169465Z          outgoing  2150089460
2  2022-09-29 16:29:41.388121Z          outgoing  1194639514
3  2022-09-29 16:29:44.224242Z          outgoing  2173605508
4  2022-09-29 16:29:49.942975Z          outgoing  2152627414

In [30]:
attempted_call.head()

,Voter ID,Date Called,Time Called (EST),Result,Unnamed: 4
0,2149456344,9/27/22,06:35 PM EST,Answering Machine,NaN
1,2174991193,9/27/22,06:35 PM EST,No Contact,NaN
2,1193848106,9/27/22,06:18 PM EST,Answering Machine,NaN
3,1118172757,9/27/22,06:15 PM EST,Answering Machine,NaN
4,1102265661,9/27/22,06:20 PM EST,Remove number from list,NaN

In [31]:
del attempted_call[attempted_call.columns[-1]]
del attempted_text[attempted_text.columns[0]]

In [32]:
door_knocking.head()

        VoterID Date of Attempt      city      zip result of attempt
0  1.120854e+09      2022-08-21  PASADENA  77504.0          Not Home
1  1.217882e+09      2022-08-21  PASADENA  77504.0          Not Home
2  2.146140e+09      2022-08-21  PASADENA  77504.0          Not Home
3  2.135785e+09      2022-08-21  PASADENA  77504.0          Not Home
4  2.176310e+09      2022-08-21  PASADENA  77504.0          Not Home

In [33]:
sent_postcard.head()

     Voter ID      City   Zip5  Age Sex   PrecinctName
0  1110293474  Pasadena  77504   41   F  Harris - 0347
1  1107166208  Pasadena  77504   46   M  Harris - 0347
2  2000717608  Pasadena  77504   32   M  Harris - 0347
3  2177434872  Pasadena  77504   21   F  Harris - 0347
4  2173469771  Pasadena  77504   21   F  Harris - 0347

In [37]:
attempted_text.dropna(inplace=True)
attempted_text.drop_duplicates(inplace=True)

In [42]:
attempted_text = attempted_text[attempted_text['message_direction'] == 'outgoing']

In [38]:
attempted_call.dropna(inplace=True)
attempted_call.drop_duplicates(inplace=True)

In [47]:
attempted_call = attempted_call[attempted_call['Voter ID'] != '--']

In [39]:
door_knocking.dropna(inplace=True)
door_knocking.drop_duplicates(inplace=True)

In [40]:
sent_postcard.dropna(inplace=True)
sent_postcard.drop_duplicates(inplace=True)

In [46]:
attempted_text = attempted_text[attempted_text['Voter ID'] != '--']
door_knocking = door_knocking[door_knocking['VoterID'] != '--']
sent_postcard = sent_postcard[sent_postcard['Voter ID'] != '--']

In [48]:
attempted_text.shape

(10167, 2)

In [ ]:
# 10,167 Attempted Texts * .06 Cents per Text

In [49]:
attempted_call.shape

(7008, 4)

In [ ]:
# 7,008 Attempted Calls * .13 Cents per Call

In [50]:
door_knocking.shape

(6668, 5)

In [ ]:
# 6,668 Attempted Doors * 2 Dollars per Door

In [51]:
sent_postcard.shape

(37428, 6)

In [ ]:
# 37,428 Sent Mailings * .35 Cents per Card

In [52]:
total_cost = (10167 * .06 + 7008 * .13 + 6668 * 2 + 37428 * .35)
total_cost

27956.86