In [168]:
import pandas as pd
import matplotlib.pyplot as plt

In [184]:
registered_1 = pd.read_csv('clean_voters_1 (1).csv')
registered_2 = pd.read_csv('clean_voters_2.csv')
registered_3 = pd.read_csv('clean_voters_3.csv')
voted_1= pd.read_csv('nov_voters_1 (1).csv')
voted_2= pd.read_csv('nov_voters_2.csv')
voted_3= pd.read_csv('nov_voters_3.csv', low_memory=False)

In [196]:
registered= pd.concat([registered_1, registered_2, registered_3], axis=0)
voted=pd.concat([voted_1, voted_2, voted_3], axis=0)

(2538171, 7)

(971373, 7)

(719726, 7)

In [192]:
voted_1['Voting Precinct'].value_counts()[126]

1384

In [172]:
num_regis = registered_1['Precinct'].value_counts(dropna=True, sort=True)

count_regis= pd.DataFrame(num_regis)
counts_regis_reset = count_regis.reset_index()
counts_regis_reset.columns = ['Precinct', 'Number of People Who Registered in the Precinct']

In [173]:
counts_regis_reset

     Precinct  Number of People Who Registered in the Precinct
0         126                                             5962
1         336                                             5616
2         352                                             5368
3         387                                             5105
4         362                                             5104
..        ...                                              ...
392       141                                              262
393       373                                              152
394       313                                               80
395       167                                               69
396       156                                               36

[397 rows x 2 columns]

In [174]:
num_voted = voted_1['Voting Precinct'].value_counts(dropna=True, sort=True)

counts_voted= pd.DataFrame(num_voted)
counts_voted_reset = counts_voted.reset_index()
counts_voted_reset.columns = ['Precinct', 'Number of People Who Voted in the Precinct']

In [175]:
counts_voted_reset

      Precinct  Number of People Who Voted in the Precinct
0          234                                        1683
1          420                                        1664
2          213                                        1519
3          772                                        1461
4           74                                        1459
...        ...                                         ...
1085       944                                           2
1086      1099                                           2
1087       945                                           2
1088      1147                                           1
1089       907                                           1

[1090 rows x 2 columns]

In [176]:
turnout= pd.merge(counts_regis_reset, counts_voted_reset)

In [181]:
turnout['Turnout Percentage']= turnout['Number of People Who Voted in the Precinct'] / turnout['Number of People Who Registered in the Precinct'] * 100

In [180]:
turnout

,Precinct,Number of People Who Registered in the Precinct,Number of People Who Voted in the Precinct,Percentage
0,126,5962,1384,23.213687
1,336,5616,733,13.051994
2,352,5368,1158,21.572280
3,387,5105,945,18.511263
4,362,5104,1121,21.963166
...,...,...,...,...
392,141,262,34,12.977099
393,373,152,28,18.421053
394,313,80,10,12.500000
395,167,69,7,10.144928
396,156,36,7,19.444444